rvedas_backend/src/main/app/rvedas_backend_mock2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="rvedas_mock2_Flow">
        <http:listener config-ref="Mock2_HTTP_Listener_Configuration" path="/rvedas/mock2" doc:name="HTTP" allowedMethods="GET"/>
        
        <expression-component doc:name="xfm-100ms"><![CDATA[Thread.sleep(100);]]></expression-component>
        <set-payload value="{   &quot;hello_world_response&quot;: {     &quot;header&quot;: {       &quot;transaction_uuid&quot;:  &quot;#[message.inboundProperties.transaction_uuid]&quot;,       &quot;client_id&quot;:  #[message.inboundProperties.client_id],       &quot;status.code&quot;: 200,       &quot;status.message&quot;: &quot;success&quot;     },     &quot;body&quot;: {       &quot;account_number&quot;: &quot;#[message.inboundProperties.account_number]&quot;,       &quot;account_balance&quot;: 2500,       &quot;credit_score&quot;: 650     }   } }" doc:name="Set Payload"/>
	    
    </flow>
</mule>
